body {
    background-color: #EDEFEE;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 0%;
    margin-right: 5%;
}

/*Navbar section*/

.navbar {
    background-color: #49796B;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    color:  #EDEFEE;
    display: block;
    float: right;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-family: 'Pangolin', cursive;
    font-size: 18px;
    transition: 0.2s;
}

.navbar a:hover {
background: #c8102E;
color: #EDEFEE;
}

/*Main heading and sub-heading*/

header > img {
    display: block;
    margin-left:auto;
    margin-right: auto;
    max-width: 900px;
    padding-top: 3rem;
    width: 100%;
}

h1 {
    color:#49796B;
    font-size: 3rem;
    margin-left: 5%;
    text-align: center;
    font-family: 'Lobster', cursive;
    transition: transform 2s;
}

h1:hover {
    color:#c8102E;
    transform: scale(1.5);
    }

 .sub-heading {
    color:#49796B;
    font-family: 'Pangolin', cursive;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    text-align: center;
    vertical-align: middle; 
}

h1, .sub-heading, header > img {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Cards style*/

.container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
}

.card {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    transition: transform 0.2s;
    width: calc(33.33% - 50px);
}

.card p {
    color:#49796B;
    font-family: 'Pangolin', cursive;
    text-align: center;
}

.card:hover {
background-color: #FFF8DC;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
transform: scale(1.2);
}

.card img {
    border-radius: 25px;
    height: 200px;
    object-fit: cover;
    width: 100%;
}

h2 {
    color: #c8102E;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    text-align: center;
}

button {
    align-self: center;
    border: none;
    background-color: #c8102E;
    border-radius: 25px;
    color: #EDEFEE;
    cursor: pointer;
    display: inline-block;
    font-family: 'Pangolin', cursive;
    font-size: 18px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: 0.8s;
}

button:hover {
    background: #49796B;
    color: #EDEFEE;
    }

/*Footer style*/

footer {
    color:#49796B;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
    text-align: center;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.footer-column img {
    max-width: 50px;
    margin-bottom: 10px;
}

.footer-column p {
    margin: 5px 0;
    font-size: 14px;
}



/* Media queries for responsive design */

@media screen and (max-width: 767px) {
    header > img {
        padding: 2rem 0;
    }


    .container {
        display: flex;
        flex-direction: column; /* Stack cards vertically */
        align-items: center;
        padding: 10px;
        margin: 0 auto;
        max-width: 1200px;
      
    }

    .card {
        width: 100%; 
        margin: 10px;
        padding: 10px;
        height: auto;
    }

    .card img {
        height: auto; 
        object-fit: cover;
        border-radius: 25px;
    }

    .footer-column {
        text-align: center; 
        justify-content: center; 
    }
    
    .footer-column img {
        margin: 0 auto 10px; 
    }
    
    .footer-column p {
        text-align: center; 
    }
}



section {
    display: flex;
}

article {
    flex: 1;
}

footer div {
    flex: 1;
}
