body {
    background-color: #EDEFEE;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 0%;
    margin-right: 5%;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-left: 5%;
    color:#49796B;
    font-family: 'Lobster', cursive;
}



 .sub-heading {
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;
}

h1, .sub-heading {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h2 {
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    color: #c8102E;
}

header > img {
    display: block;
    margin-left:auto;
    margin-right: auto;
    padding-top: 3rem;
    width: 40rem;
}

.navbar {
    overflow: hidden;
    background-color: #49796B;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: right;
    display: block;
    color:  #EDEFEE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.2s;
}

.navbar a:hover {
background: #c8102E;
color: #FFC72C;
}

section {
    display: flex;
}

article {
    flex: 1;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

div > img {
    width: 5rem;
}