.about-main {
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}


.about-left {
    flex: 1;
    position: relative;
}

.about-title {
    font-family: 'Markazi Text', sans-serif;
    color: #333333;
    font-size: 5rem;
    margin-top: 1rem;
    margin-bottom: -2rem;
}

.about-subtitle {
    font-family: 'Markazi Text', sans-serif;
    color: #333333;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.about-description {
    font-family: 'Karla', sans-serif;
    color: #333333;
    font-size: 1.1125rem;
    line-height: 1.5em;
    margin-bottom: 2%;
}

.about-right {
    flex: 1;
    text-align: right;
}

.about-image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-image-a-container {
    max-width: 40%;
    height: auto;
}

.about-image-b-container {
    max-width: 40%;
    height: auto;
}