/* Styles for the main about section */
.about-main {
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

/* Styles for the about content section */
.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10rem 1rem 20rem 6rem;
}

/* Styles for the left part of the about section */
.about-left {
    flex: 1;
    position: relative;
}

/* Styles for the title in the about section */
.about-title {
    font-family: 'Markazi Text', sans-serif;
    color: #333333;
    font-size: 5rem;
    margin-top: 1rem;
    margin-bottom: -2rem;
}

/* Styles for the subtitle in the about section */
.about-subtitle {
    font-family: 'Markazi Text', sans-serif;
    color: #333333;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

/* Styles for the description in the about section */
.about-description {
    font-family: 'Karla', sans-serif;
    color: #333333;
    font-size: 1.1125rem;
    line-height: 1.5em;
    margin-bottom: 2%;
}

/* Styles for the right part of the about section */
.about-right {
    flex: 1;
    text-align: right;
    position: relative;
}

/* Styles for image containers */
.mario-adrian-a-container {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -8rem;
    z-index: 1;
}

.mario-adrian-b-container {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 30%;
    z-index: 2;
    margin-left: -8rem;
}

.mario-adrian-a {
    max-width: 100%;
}

.mario-adrian-b {
    max-width: 100%;
}