.footer {
    background-color: #495E57;
    color: #fff;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

/*Footer columns*/

.footer-column {
    width: 25%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
}

.footer-column:after {
    content: "";
    display: table;
    clear: both;
}

/*Media query */

@media (max-width: 768px) {
    /* Adjust footer styles for smaller screens */
    .footer {
        padding: 10px; /* Adjust padding */
    }

    /* Adjust other styles within the footer */
    .footer-column {
        width: 50%; /* Adjust column width for smaller screens */
    }

    /* Any other styles specific to smaller screens */
}