.footer {
    background-color: #495E57;
    color: #EDEFEE;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/*Footer columns*/

.footer-column {
    width: 25%;
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    padding: 0 6rem;
    box-sizing: border-box;
    vertical-align: top;
}

.footer-column h4 {
    margin: 0;
}

.footer-column:after {
    content: "";
    display: table;
    clear: both;
}

/*Style the list items within the footer */
.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin: 0.5rem 0;
    position: relative;
}

.footer-column ul li a {
    text-decoration: none;
    color: #EDEFEE;
}

.footer-column ul li:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    background-color: #EDEFEE;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform 0.3s;
}

.footer-column ul li:hover:after {
    transform: scaleX(1);
}
/*Media query */

@media (max-width: 768px) {
    /* Adjust footer styles for smaller screens */
    .footer {
        padding: 10px; /* Adjust padding */
    }

    /* Adjust other styles within the footer */
    .footer-column {
        width: 50%; /* Adjust column width for smaller screens */
    }

    /* Any other styles specific to smaller screens */
}