.footer {
    background-color: #495E57;
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*Footer columns*/

.footer-column {
    width: 25%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
}

.footer-column:after {
    content: "";
    display: table;
    clear: both;
}

/*Media query */

@media (max-width: 768px) {
    .navbar{
        padding: 10px;
    }

    .logo {
        max-width: 200px;
    }

    .nav-menu {
        padding-right: 20px;
    }

    .nav-menu li {
        margin-right: 20px;
    }
}