.header {
    background-color: #495E57;
    color: #EDEFEE;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-left {
    flex: 1;
}

.restaurant-title {
    color: #F4CE14;
    font-size: 36px;
}

.restaurant-subtitle {
    color: #EDEFEE;
    font-size: 24px;
}

.restaurant-description {
    color: #EDEFEE;
    font-size: 18px;
    margin-bottom: 20px;
}

.read-more-button {
    background-color: #F4CE14;
    border-radius: 5px;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.header-right {
    flex: 1;
    text-align: right;
}

restaurant-banner {
    max-width: 100%;
    height: auto;
}

/*Media query */

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .header {
        padding: 10px;
        flex-direction: column;
        text-align: center;
    }

    .header-content {
        flex-direction: column;
    }

    .header-left,
    .header-right {
        width: 100%;
    }

    .restaurant-title {
        font-size: 24px;
    }

    .restaurant-subtitle {
        font-size: 18px;
    }

    .restaurant-description {
        font-size: 14px;
    }

    .read-more-button {
        font-size: 14px;
    }

    .restaurant-banner {
        max-width: 100%;
        height: auto;
    }
}