.header {
    background-color: #495E57;
    color: #EDEFEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.header-left {
    flex: 1;
}

.restaurant-title {
    font-family: 'Markazi Text', sans-serif;
    color: #F4CE14;
    font-size: 5rem;
    margin-top: -5rem;
    margin-bottom: -2rem;
}

.restaurant-subtitle {
    font-family: 'Markazi Text', sans-serif;
    color: #EDEFEE;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.restaurant-description {
    font-family: 'Karla', sans-serif;
    color: #EDEFEE;
    font-size: 1.1125rem;
    line-height: 1.5em;
    margin-bottom: 6%;
}

.reserve-a-table-button {
    font-family: 'Karla', sans-serif;
    background-color: #F4CE14;
    border-radius: 5px;
    color:  #333333;
    text-decoration: none;
    border: none;
    padding: 1% 2%;
    font-size: 1.125rem;
    cursor: pointer;
    margin-top: 6rem;
    height: 3rem;
    width: 12rem;
    transition: background-color 0.6s font-weight 0.6s; /* Add transition for a smooth effect */
}

.reserve-a-table-button:hover {
    font-weight: bold;
    background-color: darkgoldenrod;
}

.header-right {
    flex: 1;
    text-align: right;
}

.restaurant-banner {
    max-width: 80%;
    height: auto;
    margin-bottom: -10%;
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*Media query */

/* Media query for screens smaller than 768px */
@media (max-width: 1068px) and (max-width: 1024px) {
    .header {
        padding: 0%;
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
    }

    .header-content {
        flex-direction: column;
    }

    .header-left,
    .header-right {
        width: 100%;
    }

    .restaurant-title {
        font-size: 4rem;
        margin: 2.5rem 0 1rem 0;
    }
    
    .restaurant-subtitle {
        font-size: 2.5rem;
        margin: 1rem 0 2rem 0;
    }

    .restaurant-description {
        font-size: 1.125rem;
        line-height: 1.5rem;
        margin: 2.5rem 0 2.5rem 0;
        text-align: justify;
        }

    .reserve-a-table-button {
     align-items: 'center';
     background-color: #F4CE14;
        border-radius: 5px;
        border: none;
        padding: 2% 4%;
        font-size: 1.125rem;
        cursor: pointer;
        margin: 2.5rem 0 2.5rem 0;
        height: 2.7rem;
        width: 11rem;
    }

    .restaurant-banner {
        margin-top: 3rem;
        max-width: 100%;
        height: auto;
    }
}
