.header {
    background-color: #495E57;
    color: #EDEFEE;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-left {
    flex: 1;
}

.restaurant-title {
    color: yellow;
    font-size: 36px;
}

.restaurant-subtitle {
    color: #EDEFEE;
    font-size: 24px;
}

.restaurant-description {
    color: #EDEFEE;
    font-size: 18px;
    margin-bottom: 20px;
}

.read-more-button {
    background-color: yellow;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.header-right {
    flex: 1;
    text-align: right;
}

restaurant-banner {
    max-width: 100%;
    height: auto;
}