.header {
    background-color: #495E57;
    color: #EDEFEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.header-left {
    flex: 1;
}

.restaurant-title {
    color: #F4CE14;
    font-size: 3.6rem;
    margin-top: -8.125rem;
    margin-bottom: -2rem;
}

.restaurant-subtitle {
    color: #EDEFEE;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.restaurant-description {
    color: #EDEFEE;
    font-size: 1.8rem;
    margin-bottom: 2%;
}

.read-more-button {
    background-color: #F4CE14;
    border-radius: 5px;
    color: black;
    border: none;
    padding: 1% 2%;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 4rem;
}

.header-right {
    flex: 1;
    text-align: right;
}

.restaurant-banner {
    max-width: 80%;
    height: auto;
    margin-bottom: -10%;
    border-radius: 1rem;
}

/*Media query */

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .header {
        padding: 2%;
        flex-direction: column;
        text-align: center;
    }

    .header-content {
        flex-direction: column;
    }

    .header-left,
    .header-right {
        width: 100%;
    }

    .restaurant-title {
        font-size: 2.4rem;
    }

    .restaurant-subtitle {
        font-size: 1.8rem;
    }

    .restaurant-description {
        font-size: 1.4rem;
    }

    .read-more-button {
        font-size: 1.4rem;
    }

    .restaurant-banner {
        max-width: 100%;
        height: auto;
    }
}