.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: white;
    z-index: 99;
   
}

.logo {
    max-width: 20rem;
    height: auto;
    padding-left: 4.5rem;

}

.nav-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-right: 2rem;
    align-items: center;
    justify-content: center;

}

.nav-menu li {
    margin-right: 1rem;
}

.nav-menu li:last-child {
    margin-right: 4rem;
}

.nav-menu a {
    font-family: 'Karla', sans-serif;
    font-size: 1.125rem;
    text-decoration: none;
    color: black;
}

/*Media query */

@media (max-width: 768px) {
    .navbar{
        padding: 0.5rem;
    }

    .logo {
        max-width: 100%;
        padding-left: 1rem;
    }

    .nav-menu {
        padding-right: 0;
        flex-wrap: wrap;
    }

    .nav-menu li {
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }

    .nav-menu li:last-child {
        margin-right:0;
    }
}