.container {
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 100%;
    padding: 1rem;

}


.main-header {
    font-family: 'Markazi Text', sans-serif;
    color: black;
    text-align: left;
    font-size: 4.5rem;
    margin: 3rem 0rem 5rem -1rem;
   
}

.online-menu-button {
    font-family: 'Karla', sans-serif;
    background-color: #F4CE14;
    border-radius: 5px;
    color: black;
    border: none;
    padding: 1% 2%;
    font-size: 1.125rem;
    cursor: pointer;
    margin-top: 3rem;
    transition: background-color 0.3s;
    height: 3rem;
    width: 12rem;

    &:hover {
        background-color: orange;
        color: black;
    }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 3rem 6rem;
    max-width: 90%; /* Use a relative max-width to limit container width */
}

.card {
    flex: 0 0 calc(30% - 1.25rem); /* Adjust the width value to make the cards narrower */
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    transition: transform 0.2s;
}

.card p {
    color:black;
    font-family: 'Karla', sans-serif;
    text-align: justify;
    margin-left: 1rem;
    
}

.card:hover {
box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
transform: scale(1.1);
}

.card img {
    border-radius: 1.5625rem; 
    height: 12.5rem;
    object-fit: cover;
    width: 100%;
}

h2 {
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
    text-align: left;
    margin-left: 1rem;
}

.card-button {
    text-decoration: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
    margin: 3rem 0 1rem 1rem;
}

.card-button:hover {
    font-weight: bold;
    font-size: 1.25rem;
}